@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.Azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

.resumeButton {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 12px;
    border-radius: 10px;
}

.banner {
    background-image: url(assets/Hero-bg.png);
    width: fit-content;
    height: 652px;
}

.backgroundImage {
    padding-left: 221px;
    padding-right: 221px;
    padding-top: 26px;
    padding-bottom: 44px;
}

.bannerImage {
    text-align: center;
}

.bannerHeading {
    text-align: center;
    color: black;
    font-size: 20px;
}

.bannerDescription {
    text-align: center;
    color: black;
    font-size: 16px;
}

.bannerButton .contactButton {
    width: 230px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.bannerButton {
    text-align: center;
}