@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.Azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

.resumeButton {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 12px;
    border-radius: 10px;
}

.banner {
    background-image: url(assets/Hero-bg.png);
    width: fit-content;
    height: 652px;
}

.backgroundImage {
    padding-left: 221px;
    padding-right: 221px;
    padding-top: 26px;
    padding-bottom: 44px;
}

.bannerImage {
    text-align: center;
}

.bannerHeading {
    text-align: center;
    color: black;
    font-size: 20px;
}

.bannerDescription {
    text-align: center;
    color: black;
    font-size: 16px;
}

.bannerButton .contactButton {
    width: 230px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.bannerButton {
    text-align: center;
}

.webDevelopment {
    background-color: rgb(247, 247, 247);
    margin: 5% 5% 0 5%;
}

.title {
    text-align: center;
    font-size: 20px;
    color: black;
    padding-top: 25px;
    padding-bottom: 5px;
}

.importantOfWeb {
    text-align: center;
    font-size: 16px;
    color: black;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.content1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}

.content2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255, 251, 251);
    margin: 10px 10px 10px 10px;
}

.content3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}

.content-title {
    font-size: 18px;
    text-align: left;
    padding: 2px 2px;
}

.content-description{
    font-size: 16px;
    text-align: left;
    padding: 2px 2px;
}

.learnMore {
    background-color: white;
    width: 160px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.inspiration {
    padding-top: 100px;
}

.inspirationTitle {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

.inspirationDescription {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.container {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 2000px;
    height: 1200px;
}




.supportSection {
    background-image: url('./assets/handshake.jpg');
    text-align: center;
    justify-content: center;
    background-position: center;
    width: 1140;
    height: 200;
    padding: 64px 48px 64px 48px ;
    border-radius: 16px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 90px;
}

.supportTitle {
    font-size: 25px;
    font-weight: bold ;
    color: white;
    margin-top: 5%;
}

.input-field {
    width: 548px;
    height: 57px;
    border-radius: 8px;
    font-size: 16px;
    color:rgba(255, 255, 255, 1);
    background-color: white;
}

.submitButton {
    width: 120px;
    height: 60;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.feedback-text {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700px;
}

.footer {
    display: flex;
    background-color: rgb(244, 239, 239);
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.footer-icons {
    display: flex;
    
    gap: 60px
}